@import "tailwindcss";

@theme {
    --color-first: #E3F8FF;
    --color-second: #DCFAFB;
    --color-third: #FFE8DF;
    --color-accent: #FF5151;
    --color-darker: #161616;

    --custom-grid-cols: repeat(auto-fit, minmax(220px, 1fr));
    --custom-rotate: 30deg;
}

.writing-vertical-rl {
    writing-mode: vertical-rl;
}